**/node_modules
**/bower_components
**/gens
**/logs
**/conf/*
**/data
**/certs/*.key
**/certs/*.pem
**/certs/*.crt
**/env/*.env

**/*.sublime-*
**/.vscode
**/*.key
**/*.crt
**/.vagrant
**/lib-cov
**/*.log
**/*.logs
**/*.out
**/*.pid
**/npm-debug.log
**/*.bak
**/*.env
**/*.pem

**/*~
**/*#
**/.DS_STORE
**/.netbeans
**/nbproject
**/.idea
**/.node_history**
